* {
    box-sizing: border-box;
}

body {
    background: white;
}

#playerJoin {
    display: none;
}

#gameSection{
    background-color: #e9ecef;
    min-height: 300px;
}

.rps-choice{
    width: 100%;
}

#chatArea {
    height: 100px;
    border: 1px solid #e9ecef;
    margin-bottom: 10px;
    overflow:scroll;
}

#chat{
    display: none;
}

.selectedChoice {
    border: 5px solid greenyellow;
}